 /* 태그 초기화 */
 * {
     margin: 0;
     padding: 0;
 }
 
 body{
 	font: normal 12px '돋움';
 }

 ul, ol {list-style: none;}
 input, textarea {outline: none;}
 
 a {text-decoration: none; color: #111;}

 input {outline: none;}

 #wrapper {
     width: 800px;
     height: auto;
     margin: 0 auto;
 }

 /* 헤더 */
 header {
     width: 100%;
     height: 35px;
     background: #f7f7f7;
     border-bottom: 1px solid #ebebeb;
 }

 header > h3 {
     font-weight: bold;
     color: #777;
     float: left;
     margin-top: 10px;
     margin-left: 10px;
     font: bold 12px 돋움 ;
 }

 header > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
 }

 /* 메인 */
 main {
     width: 100%;
     height: auto;
     box-sizing: border-box;
 }

 /* 푸터 */
 footer {
     width: 100%;
     height: 35px;
     background: #f7f7f7;
     border-top: 1px solid #ebebeb;
 }

 footer > p {
     float: right;
     margin-top: 10px;
     margin-left: 10px;
     color: #777;
 }

 /* 로그인 */
 #user > .login {
     position: relative;
     width: 360px;
     height: auto;
     border: 1px solid #cfded8;
     box-sizing: border-box;
     margin: 100px auto;
 }

 #user > .login > form {}

 #user > .login > form > table {
     margin-top: 30px;
     margin-left: 52px;
     border-collapse: collapse;
     border-spacing: 0;
 }

 #user >.login > form > table tr {}

 #user >.login > form > table tr > td {}

 #user >.login > form > table img {width: 20px;}

 #user >.login > form > table input {
     border: 1px solid #e4eaec;
     width: 162px;
     height: 22px;
     margin-left: 6px;
     margin-bottom: 4px;
     background: #f7f7f7
 }

 #user > .login > form > .btnLogin {
     width: 60px;
     height: 52px;
     background-color: #fdfdfd;
     border: 1px solid #bebebe;
     position: absolute;
     right: 50px;
     top: 30px;
 }

 #user > .login > div {
     width: 100%;
     height: 104px;
     background: #f5f6fa;
     border-top: 1px solid #cfded8;
     margin-top: 20px;
     padding: 20px;
     box-sizing: border-box;
 }

 #user > .login > div > h3 {
  	font: normal 12px '돋움';
  }

 #user > .login > div > p {
     margin: 10px 0;
    
 }

 #user > .login > div > a {
     float: right;
 }


 /* 약관 */
 #user > .terms {
     width: 600px;
     height: auto;
     box-sizing: border-box;
     margin: 60px auto;
     overflow: hidden;
 }

 #user > .terms > table {
     width: 100%;
     height: auto;
     border-collapse: collapse;
     border-spacing: 0;
     border-top: 2px solid #111;
 }

 #user > .terms > table > caption {
     text-align: left;
     font-weight: bold;
     padding: 10px 0;
     box-sizing: border-box;
 }

 #user>.terms>table tr {}

 #user>.terms>table tr>td {
     border: 1px solid #e9e9e9;
     padding: 6px;
     box-sizing: border-box;
 }

 #user>.terms>table tr>td>textarea {
     width: 100%;
     height: 200px;
     resize: none;
     background: #f7f7f7;
     border: 1px solid #e4eaec;
     padding: 2px;
     box-sizing: border-box;
 }

 #user>.terms>table tr>td>label {
    float: right;
    margin-top: 3px;
}

 #user>.terms>table tr>td>label>input[type=checkbox] {
    vertical-align: text-bottom;
 }


 #user>.terms>p {
     float: right;
     margin-top: 10px;
 }


 /* 회원가입 */
 #user > .register {
    width: 600px;
    height: auto;
    margin: 60px auto;
}

#user > .register > form {}
#user > .register table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
    margin-bottom: 10px;
}
#user > .register table caption {
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
    box-sizing: border-box;
}
#user > .register table tr {}
#user > .register table tr > td {
    padding: 6px 12px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
}  
#user > .register table tr > td:nth-child(1) {
    width: 105px;
    background: #f5f8f9;
}  
#user > .register table input {
    width: 162px;
    height: 22px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    text-indent: 6px;

}

#user > .register table input[name=addr1] {
    display: block;
    width: 360px;
    margin: 4px 0;
}
#user > .register table input[name=addr2] {
    width: 360px;
}
#user > .register table button {
    border: none;
    vertical-align: bottom;
}

#user > .register div {
    margin-top: 10px;
    float: right;
}


 /* 글목록 */
 #board > .list{
    width: 720px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
    position: relative;
}
#board > .list table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
#board > .list table > caption{
    text-align: left;
    margin-bottom: 6px;
}
#board > .list table > tr{}
#board > .list table tr > th {
    width: auto;
    height: 40px;
    background-color: #e5ecef;
    border-bottom: 1px solid #d1dee2;
}
#board > .list table tr > td {
    width: auto;
    height: 40px;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}
#board > .list table tr > td:nth-child(1) {}
#board > .list table tr > td:nth-child(2) {text-align: left;}
#board > .list table tr > td:nth-child(3) {}
#board > .list table tr > td:nth-child(4) {}
#board > .list table tr > td:nth-child(5) {}

#board > .list  .page {
    text-align: center;        
    margin-top: 15px;
}
#board > .list  .page > a {
    display: inline-block;
    padding: 8px;
    border: 1px solid #d7d7d7;
    background: #f2f2f2;
    
}
#board > .list  .page > .prev {}
#board > .list  .page > .next {}
#board > .list  .page > .num {}
#board > .list  .page > .current {
    border: 1px solid #6d6d6d;
    background: #888;
    color: #fff;
}
 /* 글쓰기 */
 #board {}
 #board .write {
     width: 720px;
     height: auto;
     margin: 60px auto;
     overflow: hidden;
 }
 #board .write table {
     width: 100%;
     height: auto;
     border-collapse: collapse;
     border-spacing: 0;
     border-top: 2px solid #111;
 }
 #board .write table > caption {
     text-align: left;
     margin-bottom: 6px;
 }
 #board .write table tr {border-bottom: 1px solid #e9e9e9;}
 #board .write table td {
     padding: 10px;
     box-sizing: border-box;
 }
 #board .write table th {
     width: 112px;
     height: 50px;
     background-color: #f5f8f9;
 }
 #board .write table td > input {
     width: 400px;
     height: 24px;
     border: none;
 }
 #board .write table td > textarea {
     width: 100%;
     height: 280px;
     resize: none;
     border: none;
 }

 #board .write > form div {
     float: right;
     margin-top: 10px;
 }

 /* 글수정 */
 #board {}
 #board .modify {
     width: 720px;
     height: auto;
     margin: 60px auto;
     overflow: hidden;
 }
 #board .modify table {
     width: 100%;
     height: auto;
     border-collapse: collapse;
     border-spacing: 0;
     border-top: 2px solid #111;
 }
 #board .modify table > caption {
     text-align: left;
     margin-bottom: 6px;
 }
 #board .modify table tr {border-bottom: 1px solid #e9e9e9;}
 #board .modify table td {
     padding: 10px;
     box-sizing: border-box;
 }
 #board .modify table th {
     width: 112px;
     height: 50px;
     background-color: #f5f8f9;
 }
 #board .modify table td > input {
     width: 400px;
     height: 24px;
     border: none;
 }
 #board .modify table td > textarea {
     width: 100%;
     height: 280px;
     resize: none;
     border: none;
 }

 #board .modify > form div {
     float: right;
     margin-top: 10px;
 }
 /* 글보기 */
 #board .view {
    width: 720px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
}
#board .view table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
#board .view table > caption {
    text-align: left;
    margin-bottom: 6px;
}
#board .view table tr {border-bottom: 1px solid #e9e9e9;}
#board .view table td {
    padding: 10px;
    box-sizing: border-box;
}
#board .view table th {
    width: 112px;
    height: 50px;
    background-color: #f5f8f9;
}
#board .view table td > input {
    width: 400px;
    height: 24px;
    border: none;
}
#board .view table #content {
	height: 280px;
}
#board .view table td > textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: none;
}

#board .view > div {
    text-align: right;
    margin-top: 10px;
}

#board > .view > section {
   width: 100%;
   height: auto;
   border: 1px solid #e3e3e3;
   background: #f9f9f9;
   box-sizing: border-box;
   margin-top: 10px;
   padding: 16px;

}
#board > .view > section > h3 {
   font-size: 13px;
   font-weight: bold;
   border-bottom: 1px dotted #111;
   padding-bottom: 6px;
   margin-bottom: 10px;
}

#board > .view > .commentList {}
#board > .view > .commentList > article {
   overflow: hidden;
}
#board > .view > .commentList > .nick {}
#board > .view > .commentList > .date {}
#board > .view > .commentList .content {
	padding: 10px;
}
#board > .view > .commentList > article > div {text-align: right;}
#board > .view > .commentList > article .remove {}
#board > .view > .commentList > article .modify {}
#board > .view > .commentList > .empty {
   margin: 20px;
   text-align: center;
}

#board > .view > .commentForm {
   width: 100%;
   height: auto;
   box-sizing: border-box;
   overflow: hidden;
}
#board > .view > .commentForm textarea{
   width: 100%;
   height: 62px;
   resize: none;
   border: 1px solid #e4eaec;
   padding: 6px;
   box-sizing: border-box;
}
#board > .view > .commentForm div{
   float: right;
   margin-top: 9px;
}

 /* 버튼 공통 */
 .btn { 
    display: inline-block; 
    padding: 10px;
    border: 1px solid #bebebe;  
    text-align: center; 
}

 .btnCancel {}

 .btnNext { background: #e9e9e9;}
 .btnRegister {
     width: 66px;

    }
 .btnWrite {
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: #fff;
    float: right;
    vertical-align: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
 }
 .btnComplete {
    font: normal 12px '돋움';
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: #fff;
 }


#user>.terms>p>a.btnCancel {
   
}

#user>.terms>p>a.btnNext {
   background: #e9e9e9;
}