<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>INIT_PARAM</param-name>
  	<param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
 <!--  
  <error-page>
  	<error-code>404</error-code> 
  	<location>/Ch02/P108.jsp</location> 
  </error-page>
  <error-page>
  	<error-code>405</error-code> 
  	<location>/Ch02/P108.jsp</location> 
  </error-page>
  <error-page>
  	<error-code>500</error-code> 
  	<location>/Ch02/P108.jsp</location> 
  </error-page> 
 -->
 
 <!-- web.xml에 오라클 접속 정보 입력 -->
 <context-param>
 	<param-name>MysqlDriver</param-name> <!-- 드라이버 이름 -->
 	<param-value>com.mysql.cj.jdbc.Driver</param-value>
 </context-param>
 <context-param>
 	<param-name>MysqlURL</param-name> <!-- 접속 URL -->
 	<param-value>jdbc:mysql://127.0.0.1:3307/boarddb</param-value>
 </context-param>
 <context-param>
 	<param-name>MysqlId</param-name> <!-- 계정 아이디 -->
 	<param-value>board_tester</param-value>
 </context-param>
 <context-param>
 	<param-name>MysqlPwd</param-name> <!-- 패스워드 -->
 	<param-value>1234</param-value>
 </context-param>
 
 <!-- P211 세션 유지 시간 설정(20분 설정)-->
 <session-config>
 	<session-timeout>20</session-timeout>
 </session-config>
 
 <!-- P247 모든 페이지에 캐릭터 인코딩 설정하기 -->
 <filter>
 	<filter-name>SetCharEncoding</filter-name>
 	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
 	<init-param>
 		<param-name>encoding</param-name>
 		<param-value>utf-8</param-value>
 	</init-param>
 </filter>
 <filter-mapping>
 	<filter-name>SetCharEncoding</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
 
 <!-- P322 페이징 설정값 -->
 <context-param>
 	<param-name>POSTS_PER_PAGE</param-name>
 	<param-value>10</param-value>
 </context-param>
 <context-param>
 	<param-name>PAGES_PER_BLOCK</param-name>
 	<param-value>5</param-value>
 </context-param>
 
 
 <!-- P452 web.xml에 매핑 정보추가 -->
 <servlet> <!-- 서블릿 등록 -->
 	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>servlet.HelloServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>HelloServlet</servlet-name>
 	<url-pattern>/Ch13/HelloServlet.do</url-pattern>
 </servlet-mapping>
 
 <!-- P458 요청명과 서블릿 매핑하기 -->
  <servlet> <!-- 서블릿 등록 -->
 	<servlet-name>DirectServletPrint</servlet-name>
	<servlet-class>servlet.DirectServletPrint</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>DirectServletPrint</servlet-name>
 	<url-pattern>/Ch13/DirectServletPrint.do</url-pattern>
 </servlet-mapping>

 <!-- P471 서블릿 매핑 -->
  <servlet> <!-- 서블릿 등록 -->
 	<servlet-name>MemberAuth</servlet-name>
	<servlet-class>servlet.MemberAuth</servlet-class>
	<init-param>
		<param-name>admin_id</param-name>
		<param-value>nakja</param-value>
	</init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>MemberAuth</servlet-name>
 	<url-pattern>/Ch13/MemberAuth.mvc</url-pattern>
 </servlet-mapping>
 
 
</web-app>